<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TracePath" value="C:\Windows\tracing\" />
    <add key="TraceFileNameFormat" value="LunchTray.Trace.{0:yyyyMMdd}.txt" />
  </appSettings>
  <connectionStrings>
    <add name="App.SQL"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.;Initial Catalog=LunchTray;Integrated Security=TRUE;" />
  </connectionStrings>
</configuration>